<div id="header">
  <!-- Nav -->
  <nav id="nav">
    <ul>
      <li>
        <a href="index.html">Raiz</a>
      </li>
      <li>
        <a href="#">Test</a>
      </li>
      <li>
        <a href="left-sidebar.html">Log in</a>
      </li>
    </ul>
  </nav>
</div>

<div class="wrapper style1">

  <div class="container">
    <article id="main" class="special">
      <p>
        Commodo id natoque malesuada sollicitudin elit suscipit. Curae suspendisse mauris posuere accumsan massa posuere lacus convallis tellus interdum. Amet nullam fringilla nibh nulla convallis ut venenatis purus lobortis. Auctor etiam porttitor phasellus
        tempus cubilia ultrices tempor sagittis. Nisl fermentum consequat integer interdum integer purus sapien. Nibh eleifend nulla nascetur pharetra commodo mi augue interdum tellus. Ornare cursus augue feugiat sodales velit lorem. Semper elementum
        ullamcorper lacinia natoque aenean scelerisque vel lacinia mollis quam sodales congue.
      </p>

    </article>
  </div>
</div>

<div id="footer">
  <div class="container">
    <hr/>
    <div class="row">
      <div class="col-12">
        <!-- Copyright -->
        <div class="copyright">
          <ul class="menu">
            <li>&copy; Untitled. All rights reserved.</li>
            <li>Design:
              <a href="http://html5up.net">HTML5 UP</a>
            </li>
          </ul>
        </div>

      </div>

    </div>
  </div>
</div>
